        <!--brands section start-->
        <section class="brand-sec" id="brand" style="margin-bottom: 100px;">
            <div class="container">
                <!--Partner Slider-->
                <div class="partners-slider owl-carousel owl-theme">

                    <!-- slide 1 -->
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/KingPower.webp" type="image/webp">
                            <source srcset="assets/img/clients/KingPower.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/KingPower.jpg">
                        </picture>
                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/giffarine.webp" type="image/webp">
                            <source srcset="assets/img/clients/giffarine.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/giffarine.jpg">
                        </picture>
                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/LG.webp" type="image/webp">
                            <source srcset="assets/img/clients/LG.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/LG.jpg">
                        </picture>
                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/Dtac.webp" type="image/webp">
                            <source srcset="assets/img/clients/Dtac.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/Dtac.jpg">
                        </picture>
                    </div>

                    <!-- slide 2 -->
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/true.webp" type="image/webp">
                            <source srcset="assets/img/clients/true.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/true.jpg">
                        </picture>
                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/mitsubishi.webp" type="image/webp">
                            <source srcset="assets/img/clients/mitsubishi.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/mitsubishi.jpg">
                        </picture>
                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/honda.webp" type="image/webp">
                            <source srcset="assets/img/clients/honda.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/honda.jpg">
                        </picture>
                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/toyota.webp" type="image/webp">
                            <source srcset="assets/img/clients/toyota.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/toyota.jpg">
                        </picture>
                    </div>

                    <!-- slide 3 -->
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/isuzu.webp" type="image/webp">
                            <source srcset="assets/img/clients/isuzu.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/isuzu.jpg">
                        </picture>
                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/bmw.webp" type="image/webp">
                            <source srcset="assets/img/clients/bmw.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/bmw.jpg">
                        </picture>
                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/michelin.webp" type="image/webp">
                            <source srcset="assets/img/clients/michelin.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/michelin.jpg">
                        </picture>

                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/denso.webp" type="image/webp">
                            <source srcset="assets/img/clients/denso.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/denso.jpg">
                        </picture>
                    </div>

                    <!-- slide 4 -->
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/hanon.webp" type="image/webp">
                            <source srcset="assets/img/clients/hanon.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/hanon.jpg">
                        </picture>
                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/thaiair.webp" type="image/webp">
                            <source srcset="assets/img/clients/thaiair.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/thaiair.jpg">
                        </picture>
                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/nok-air.webp" type="image/webp">
                            <source srcset="assets/img/clients/nok-air.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/nok-air.jpg">
                        </picture>
                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/bigc.webp" type="image/webp">
                            <source srcset="assets/img/clients/bigc.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/bigc.jpg">
                        </picture>
                    </div>

                    <!-- slide 5 -->
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/tesco-lotus.webp" type="image/webp">
                            <source srcset="assets/img/clients/tesco-lotus.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/tesco-lotus.jpg">
                        </picture>
                    </div>
                    <div class="logo-item">
                        <picture>
                            <source srcset="assets/img/clients/webp/aeon.webp" type="image/webp">
                            <source srcset="assets/img/clients/aeon.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/aeon.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/scb.webp" type="image/webp">
                            <source srcset="assets/img/clients/scb.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/scb.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/major.webp" type="image/webp">
                            <source srcset="assets/img/clients/major.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/major.jpg">
                        </picture>
                    </div>

                    <!-- slide 6 -->
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/hp.webp" type="image/webp">
                            <source srcset="assets/img/clients/hp.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/hp.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/acarna.webp" type="image/webp">
                            <source srcset="assets/img/clients/acarna.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/acarna.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/lmg.webp" type="image/webp">
                            <source srcset="assets/img/clients/lmg.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/lmg.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/sahafarm.webp" type="image/webp">
                            <source srcset="assets/img/clients/sahafarm.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/sahafarm.jpg">
                        </picture>
                    </div>

                    <!-- slide 7 -->
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/kfc.webp" type="image/webp">
                            <source srcset="assets/img/clients/kfc.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/kfc.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/sp.webp" type="image/webp">
                            <source srcset="assets/img/clients/sp.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/sp.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/oishi.webp" type="image/webp">
                            <source srcset="assets/img/clients/oishi.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/oishi.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/aro.webp" type="image/webp">
                            <source srcset="assets/img/clients/aro.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/aro.jpg">
                        </picture>
                    </div>
                    <!-- slide 8 -->
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/iqfit.webp" type="image/webp">
                            <source srcset="assets/img/clients/iqfit.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/iqfit.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/tfg.webp" type="image/webp">
                            <source srcset="assets/img/clients/tfg.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/tfg.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/rccola.webp" type="image/webp">
                            <source srcset="assets/img/clients/rccola.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/rccola.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/pepsi.webp" type="image/webp">
                            <source srcset="assets/img/clients/pepsi.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/pepsi.jpg">
                        </picture>
                    </div>

                    <!-- slide 9 -->
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/foodproject.webp" type="image/webp">
                            <source srcset="assets/img/clients/foodproject.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/foodproject.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/ncp.webp" type="image/webp">
                            <source srcset="assets/img/clients/ncp.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/ncp.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/mea.webp" type="image/webp">
                            <source srcset="assets/img/clients/mea.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/mea.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/pea.webp" type="image/webp">
                            <source srcset="assets/img/clients/pea.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/pea.jpg">
                        </picture>
                    </div>

                    <!-- slide 10 -->
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/water.webp" type="image/webp">
                            <source srcset="assets/img/clients/water.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/water.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/navamin9.webp" type="image/webp">
                            <source srcset="assets/img/clients/navamin9.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/navamin9.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/paolo.webp" type="image/webp">
                            <source srcset="assets/img/clients/paolo.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/paolo.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/patrangsit.webp" type="image/webp">
                            <source srcset="assets/img/clients/patrangsit.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/patrangsit.jpg">
                        </picture>
                    </div>

                    <!-- slide 11 -->
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/bangkokhos.webp" type="image/webp">
                            <source srcset="assets/img/clients/bangkokhos.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/bangkokhos.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/tenma.webp" type="image/webp">
                            <source srcset="assets/img/clients/tenma.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/tenma.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/benice.webp" type="image/webp">
                            <source srcset="assets/img/clients/benice.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/benice.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/lamsoon.webp" type="image/webp">
                            <source srcset="assets/img/clients/lamsoon.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/lamsoon.jpg">
                        </picture>
                    </div>

                    <!-- slide 12 -->
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/daiso.webp" type="image/webp">
                            <source srcset="assets/img/clients/daiso.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/daiso.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/scg.webp" type="image/webp">
                            <source srcset="assets/img/clients/scg.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/scg.jpg">
                        </picture>
                    </div>
                    <div class="logo-item"> 
                        <picture>
                            <source srcset="assets/img/clients/webp/dulux.webp" type="image/webp">
                            <source srcset="assets/img/clients/dulux.jpg" type="image/jpeg">
                            <img alt="client-logo" src="assets/img/clients/dulux.jpg">
                        </picture>
                    </div>
                </div>
            </div>
        </section>
        <!--brands section end-->
