<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-bg footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>About Us</h4>
                                <div class="footer-pera">
                                    <p>รับผลิตสติ๊กเกอร์ รับ ทํา สติ๊กเกอร์
                                        สินค้า ทุกชนิด งานอุตสาหกรรม สติ๊กเกอร์ ลาเบล และออกแบบ ฉลากบรรจุภัณฑ์</p>
                                </div>
                            </div> 
                        </div>
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/img/logo/logo_test.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Contact Info</h4>
                            <ul>
                                <li>
                                    <p> 44/108, 44/110-113, 44/279 หมู่ 8 ถนนรามอินทรา แขวงท่าแร้ง เขตบางเขน
                                        กรุงเทพมหานคร 10230</p>
                                </li>
                                <li><a href="tel:+6629457393">Phone : <a href="tel:029457393" class="tel-link">+662-945-7393</a>
</a></li>
                                <li><a href="#">Our Photo Gellary</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Location</h4>
                            <div class="d-flex justify-content-center">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d123963.31306551359!2d100.648657!3d13.847829!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x24616f0eea196585!2sFuture%20Business%20Solution%20Co.%2CLTD.!5e0!3m2!1sen!2sus!4v1591953164362!5m2!1sen!2sus"
                                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                                    tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom aera -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-6 col-lg-6 ">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script><i class="ti-heart"
                                    aria-hidden="true"></i>
                                FBS Group

                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6">
                        <div class="footer-social ">
                            <a href="https://www.facebook.com/futureSolution2544/"><i class="fab fa-facebook-f" id="facbook"></i></a>
                            <a href="https://www.instagram.com/lebel_print_fbs/"><i class="fa fa-instagram" id="insta" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
