/*-------------   Color variabel  --------------*/
@import url("https://fonts.googleapis.com/css?family=Barlow:200,300,400,500,600,700,800,900|Roboto:300,300i,400,500,700,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Prompt:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* .machine::before {
  position: absolute;
  content: "";
  background-color: rgb(49 35 35 / 63%) ;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
} */


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

/* .about .video-box {
  background: url("../assets/img/hero-bg.jpg") center center no-repeat;
  background-size: cover;
  min-height: 500px;
} */

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.top-bg {
  background: #00163e; }

/*-------------Color include--------------*/
/*-- Background color---*/

/*--- color------*/

/*------------------- Responsive --------------------------*/
/*
	@include transition(.4s);
	color:$theme-color;
*/
.boxed-btn {
  background: #fff;
  color: #f27420 !important;
  display: inline-block;
  padding: 15px 43px;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border: 0;
  border: 1px solid #f27420;
  letter-spacing: 3px;
  text-align: center;
  color: #f27420;
  text-transform: uppercase;
  cursor: pointer; }
  .boxed-btn:hover {
    background: #f27420;
    color: #fff !important;
    border: 1px solid #f27420; }
  .boxed-btn:focus {
    outline: none; }

/*--
    - Overlay
------------------------------------------*/

/*-- Overlay Opacity --*/

/* 1. Theme default css */
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal; 
  line-height: 1.5;
  margin: 0;}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
  color: #0b1c39;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal; 
  margin: 4px 0;}

p {
  font-family: "Roboto", sans-serif;
  color: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  font-weight: normal; }

.img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.f-right {
  float: right; }

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

a,
button {
  color: #1696e7;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

h1 a,
h2 a,
h4 a,
h5 a {
  color: inherit; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }



/* Theme-overlay */

/* .separator {
  border-top: 1px solid #f2f2f2; } */

/* owl-carousel button style */

/* button style */

/* button style */

/* scrollUp */
#scrollUp {
  background: #f27420;
  height: 50px;
  width: 50px;
  right: 31px;
  bottom: 40px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 48px;
  border: 2px solid transparent; }
  @media (max-width: 767px) {
    #scrollUp {
      right: 16px; } }

#scrollUp:hover {
  color: #fff; }

/* Sticky*/

/* Sticky end */
/*--- Margin & Padding --*/
/*-- Margin Top --*/

/*-- Margin Bottom --*/

.mb-40 {
  margin-bottom: 40px; }

/*-- Margin Left --*/

/*-- Margin Right --*/

/*-- Padding Top --*/

/*-- Padding Bottom --*/

/*-- Padding Left --*/

/*-- Padding Right --*/

/*-- Some Animated CSS -- */
/* bounce-animate */

/* heartbeat */

@-webkit-keyframes heartbeat {
  to {
    -webkit-transform: scale(1.03);
    transform: scale(1.03); } }

/* rotateme */

@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes rotateme {
  to {
    -webkit-transform: rotate(360deg); } }

/* 20. preloader */
.preloader {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  margin: 0 auto; }

.preloader .preloader-circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 3px;
  border-top-color: #f27420;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  background-color: #ffffff;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

.preloader .preloader-img {
  position: absolute;
  top: 50%;
  z-index: 200;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

.preloader .preloader-img img {
  max-width: 55px; }

@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; } }

/*-- Section Padding -- */

/*-------------   Color variabel  --------------*/

.top-bg {
  background: #00163e; }

/*-------------Color include--------------*/
/*-- Background color---*/

/*--- color------*/

.header-area .header-top {
  padding: 13px 0; }
  .header-area .header-top .header-info-left ul li {
    color: #fff;
    display: inline-block;
    margin-right: 33px;
    padding-right: 33px;
    border-right: 1px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px; }
    .header-area .header-top .header-info-left ul li:last-child {
      border-right: 0;
      margin-right: 0;
      padding-right: 0px; }
  .header-area .header-top .header-info-right ul li {
    color: #fff;
    font-size: 14px; }

.main-header {
  position: relative;
  z-index: 3; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header .header-bottom {
      padding: 18px 0; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .main-header .header-bottom {
      padding: 18px 0; } }
  @media (max-width: 767px) {
    .main-header .header-bottom {
      padding: 18px 0; } }
  .main-header .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1; }
    .main-header .main-menu ul li a {
      color: #021a47;
      font-weight: 500;
      padding: 28px 19px;
      display: block;
      font-size: 16px;
      position: relative;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
    .main-header .main-menu ul li:hover > a {
      color: #ffffff;
      background: #f27420; }
  .main-header .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: #fff;
    left: 0;
    top: 120%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .main-header .main-menu ul ul.submenu > li {
      margin-left: 7px;
      display: block; }
      .main-header .main-menu ul ul.submenu > li > a {
        padding: 6px 10px !important;
        font-size: 14px;
        color: #0b1c39; }
        .main-header .main-menu ul ul.submenu > li > a:hover {
          color: #f27420;
          background: none; }

.main-header ul > li:hover > ul.submenu {
  visibility: visible;
  opacity: 1;
  top: 100%; }

.get-btn {
  padding: 28px 30px;
  background: #f27420;
  color: #ffffff;
  display: block; }
  .get-btn:hover {
    color: #ffffff; }

.header-sticky ul li a {
  padding: 10px 19px; }

.mobile_menu {
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 99; }

.slider-height2 {
  min-height: 390px;
  background-repeat: no-repeat;
  background-position: center center; }
  @media (max-width: 768px) {
    .slider-height2 {
      min-height: 300px; } }
  @media (min-width: 1366px) and (max-width: 1367px) {
    .slider-height2 {
      min-height: 355px; } }

.slider-area {
  margin-top: -1px; }

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(5px, 0);
    -webkit-transform: translate(5px, 0);
    -moz-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    -o-transform: translate(5px, 0); } }

.slider-area .hero-cap h2 {
  color: #0b1c39;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase; }
        /* pc */
      /* ipad */
        /* mobile */

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(5px, 0);
    -webkit-transform: translate(5px, 0);
    -moz-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    -o-transform: translate(5px, 0); } }

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(5px, 0);
    -webkit-transform: translate(5px, 0);
    -moz-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    -o-transform: translate(5px, 0); } }

/* Homepage1 Testimonial */

.footer-bg {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(247,202,119,1) 50%, rgba(247,202,119,0.9) 100%);
  /* background: linear-gradient(90deg, rgba(242,116,32,1) 50%, rgba(242,116,32,0.9) 100%); */
  /* background: linear-gradient(90deg, rgba(147,111,96,1) 0%, rgba(147,111,96,0.6) 100%); */
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,102,1) 82%, rgba(2,3,125,1) 100%); */
}
.footer-copy-right p{
  color: #233d3c;
}
.footer-bottom-area .footer-border {
  /* border-top: 1px solid #2d3544; */
  padding: 33px 0px 20px; }

.footer-bottom-area .footer-copy-right p {
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 12px; }
  .footer-bottom-area .footer-copy-right p i {
    color: #f27420; }
  .footer-bottom-area .footer-copy-right p a {
    color: #f27420; }
    .footer-bottom-area .footer-copy-right p a:hover {
      color: #fff; }

/* Start Blog Area css
============================================================================================ */
/* End Blog Area css
============================================================================================ */
/* Latest Blog Area css
============================================================================================ */

/* End Latest Blog Area css
============================================================================================ */
/* Causes Area css
============================================================================================ */

/* End Causes Area css
============================================================================================ */
/*================= latest_blog_area css =============*/

/*========= blog_categorie_area css ===========*/

/*============ blog_left_sidebar css ==============*/

/*============ Start Blog Single Styles  =============*/

/*============ End Blog Single Styles  =============*/
/*=================== contact banner start ====================*/

/*=================== contact banner end ====================*/
/*=================== contact form start ====================*/
.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 50px; }

.form-contact label {
  font-size: 14px; }

.form-contact .form-group {
  margin-bottom: 30px; }

.form-contact .form-control {
  border: 1px solid #f4623a;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent; }
  .form-contact .form-control:focus {
    outline: 0;
    box-shadow: none; }
  .form-contact .form-control::placeholder {
    font-weight: 300;
    color: #999999; }

.form-contact textarea {
  border-radius: 0px;
  height: 100% !important; }

/*=================== contact form end ====================*/
/* Contact Success and error Area css
============================================================================================ */

.contact-section {
  padding: 50px 0 100px; }
  @media (max-width: 991px) {
    .contact-section {
      padding: 70px 0 40px; } }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .contact-section {
      padding: 80px 0 50px; } }
      .contact-section h2 {
        font-family: 'Sarabun', sans-serif;
        color: #f4623a;
        text-align: center;
      }
      .contact-section label {
        font-family: 'Sarabun', sans-serif;
        color: black;
        font-size: 20px;
      }

  
  /* .Rectangle_9 {
    background-image: -moz-linear-gradient( 90deg, #00163ee6 0%, #00163e00 62%, #00163e 62%);
    background-image: -webkit-linear-gradient( 90deg, rgba(0,22,62,0.90196) 0%, rgba(0,22,62,0) 62%, rgb(0,22,62) 62%);
    background-image: -ms-linear-gradient( 90deg, rgba(0,22,62,0.90196) 0%, rgba(0,22,62,0) 62%, rgb(0,22,62) 62%);
    position: absolute;
    left: 1170px;
    top: 3586px;
    width: 360px;
    height: 222px;
    z-index: 162;
  } */
  
/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

/* #intro .carousel-indicators li {
  cursor: pointer;
} */  
.left {  
    cursor: pointer;  
    position: absolute;  
    top: 50%;  
    width: auto;  
    padding: 16px;  
    margin-top: -22px;  
    color: white;  
    font-weight: bold;  
    font-size: 18px;  
    transition: 0.6s ease;  
    border-radius: 0 3px 3px 0;  
}  
    .left:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
.content {  
    color: #eff5d4;  
    font-size: 30px;  
    padding: 8px 12px;  
    position: absolute;  
    top: 10px;  
    width: 100%;  
    text-align: center;  
}  
/* .active {  
    background-color: #717171;  
}   */
/* Fading animation */  
.fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}

/* For devices smaller than 400px: */
/* .py-5 .row img {
  filter: grayscale();
} */

@media only screen and (min-device-width: 1300px) {
  .canUse #image {
    background-image: url(../assets/img/hero/cover_home_com/new/cosmetic-white.webp);
    width: auto;
    height: 100%;
  }
  

  .cantUse #image {
    background-image: url(../assets/img/hero/cover_home_com/new/cosmetic-white.jpg);
    background-size: 100%;  
  }
  #contact-cover {
    background-image: url(../assets/img/contact/big.jpg);
    background-size: 100%;  
  }
}

@media only screen and (min-device-width: 573px) and (max-width: 1300px) {
  .canUse #image{
    background-image: url(../assets/img/hero/cover_home_ipad/cosmetic-white.webp);
    background-size: 100%;  
  }

  .cantUse #image{
    background-image: url(../assets/img/hero/cover_home_ipad/cosmetic-white.jpg);
    background-size: 100%;  
  }
  #contact-cover {
    background-image: url(../assets/img/contact/length.jpg);
    background-size: 100%;  
  }

}
@media (max-width: 573px) {
  .canUse #image{
    background-image: url(../assets/img/hero/cover_home_mubile/cosmetic-white.webp);
  } 

  .cantUse #image{
    background-image: url(../assets/img/hero/cover_home_mubile/cosmetic-white.jpg);
  }
  #contact-cover {
    background-image: url(../assets/img/contact/small.jpg);
    background-size: 100%;  
  }

}
/* @media (min-width: 1100px) {
  .canUse #product-cover {
    background-image: url(../assets/img/products/product_big.webp);
    background-size: 100%;  
  }
  .cantUse #product-cover {
    background-image: url(../assets/img/products/product_big.jpg);
    background-size: 100%;  
  }
}
 
@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .canUse #product-cover {
    background-image: url(../assets/img/products/product_length.webp);
    background-size: 100%;  
  }
  .cantUse #product-cover {
    background-image: url(../assets/img/products/product_length.jpg);
    background-size: 100%;  
  }
  
} */

/* @media (max-width: 500px) {
  .canUse #product-cover {
    background-image: url(../assets/img/products/product_small.webp);
    background-size: 100%;  
  }
  .cantUse #product-cover {
    background-image: url(../assets/img/products/product_small.jpg);
    background-size: 100%;  
  } 

}*/
/* services Us Section change
--------------------------------*/

.canUse #blog {
  background: url("../assets/img/about-bg.webp") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
}

.canUse #blog::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 0;
}
.cantUse #blog {
  background: url("../assets/img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
}

.cantUse #blog::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 0;
}

#blog .container {
  position: relative;
  z-index: 0;
}

#join {
  background: rgba(236,231,228,0.8);
  padding: 60px 0 0px 0;
}

#join .container {
  position: relative;
  z-index: 0;
}

#navigation .active {
  background-color: #f27420;
  color: white;
}
.hide {
  display: none;
}

.toggle {
  cursor: pointer;
}
  @media only screen and (min-width: 768px) and (max-width: 991px) { 
    .flex-contract{
      margin-top: 20px; }}
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .flex-contract{
      margin-top: 20px; } }
  @media (max-width: 767px) {
    .flex-contract{
      margin-top: 20px; } }

.font-family{
  font-family: 'Bai Jamjuree', sans-serif;
}


      .contact-icon{
        background-color: #f27420;
        margin: 5px 10px 10px;
      }
      .contact-line{
        background-color: #00c300;
        margin: 5px 10px;
      }
      .contact-call{
        background-color: #00E08D;
        margin: 5px 10px;
      }
      .contact-face{
        background-color: #00c7eb;
        margin: 5px 10px;
      }
      .contact-IG{
        background-color: #ff4180;
        margin: 5px 10px;
      }
      .navbar {
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 100;
      }
      
      .contact-icon{
        width: 45px;
        height: 45px;
        float: right;
        display: block;
        border-radius: 50%;
      }
      
      .contact-icon:hover {
        box-shadow: 0 0 4px black, 0 0 3px black;
      }
      
      .tooltip {
        position: relative;
        display: inline-block;
        width: 150px;
      }



      @supports (-webkit-touch-callout: none) {
        /* CSS specific to iOS devices */
  
      }
      
      @supports not (-webkit-touch-callout: none) {
        /* CSS for other than iOS devices */   
      }
              
      
      .flex-logo{
        height: 70px;
          display: flex;
          justify-content: left;
          align-items: center;
      }

      .footer-copy-right p{
        margin-top: 20px;
      }

      .footer-block-outside {
        height: 70px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .top-block-outside {
      align-items: center;
      width: 100%;
      position: relative;
    }
    
    .flex-contract{
      display: flex;
      justify-content: center;
    }
    .social-icon-fig{
      width: 40px;
      height: 40px;
      margin: 0 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20%;
    }
      .contact-address{
        padding-bottom: 36px;
      }
      .icon-facebook, .icon-map, .icon-line, .icon-instagram {
        color: #1d4242;
        font-size:30px;
      }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .flex-logo{
          padding-left: 60px;
        }
        .contact-address{
          padding-bottom: 15px;
        }
      }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .flex-logo{
          justify-content: center;
          margin-left: 20px
        }
        .flex-contract{
          justify-content: center;
          margin-left: 20px
        }
        .footer-block-outside{
          height: 150px;
        }
      }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .footer-block-outside{
          height: 150px;
        }
        .flex-logo{
          justify-content: center;
          margin-left: 20px;
        }
        .flex-contract{
          justify-content: center;
          margin-left: 20px
        }
        .contact-address{
          padding-bottom: 15px;
        }
        .icon-facebook, .icon-map, .icon-line, .icon-instagram {
          color: #1d4242;
          font-size:25px;
        }
      }
      @media (max-width: 575px) {
        .footer-block-outside{
          height: 150px;
        }
        .flex-logo{
          justify-content: center;
          margin-left: 20px
        }
        .flex-contract{
          justify-content: center;
          margin-left: 20px
        }
        .contact-address{
          padding-bottom: 15px;
        } 
        .icon-facebook, .icon-map, .icon-line, .icon-instagram {
          color: #1d4242;
          font-size:20px;
        }  
      }
      .thank-you-pop{
        width:100%;
         padding:20px;
        text-align:center;
      }
      .thank-you-pop img{
        width:76px;
        height:auto;
        margin:0 auto;
        display:block;
        margin-bottom:25px;
      }
      
      .thank-you-pop h1{
        font-size: 42px;
          margin-bottom: 25px;
        color:#5C5C5C;
      }
      .thank-you-pop p{
        font-size: 20px;
          margin-bottom: 27px;
         color:#5C5C5C;
      }
      .thank-you-pop a{
        display: inline-block;
          margin: 0 auto;
          padding: 9px 20px;
          color: #fff;
          text-transform: uppercase;
          font-size: 14px;
          background-color: #8BC34A;
          border-radius: 17px;
      }
      .thank-you-pop a i{
        margin-right:5px;
        color:#fff;
      }
      #ignismyModal .modal-header{
          border:0px;
      }
      /*--thank you pop ends here--*/

.icon-facebook:hover {
  color: #148cd6 ;
  background-color: #fff;
  transition: .7s;
}

.icon-map:hover {
  color: #00004d;
  background-color: #fff;
  transition: .7s;
}

.icon-line:hover {
  color: #009900;
  background-color: #fff;
  transition: .7s;
}

.icon-instagram:hover {
  color: #00004d;
  background-color: #fff;
  transition: .7s;
}
@font-face {
  font-family: 'db_patpong_xregular';
  src: url('../fonts/db-patpong-x-v32-webfont.woff2') format('woff2'),
  url('../fonts/db-patpong-x-v32-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.title{
  font-family: 'db_patpong_xregular';
  letter-spacing: 8px;
  font-size: 6vh;
}

@media (max-width: 573px) {
  .title {
    font-family: 'db_patpong_xregular';
    letter-spacing: 8px;
    font-size: 4vh;
  }
}
/* .brand-sec .partners-slider .owl-item:nth-child(2) .logo-item{
    margin-top: 30px;
}

.brand-sec .partners-slider .owl-item:nth-child(3) .logo-item{
    margin-top: 50px;
}

.brand-sec .partners-slider .owl-item:nth-child(4) .logo-item{
    margin-top: 70px;
}

.brand-sec .partners-slider .owl-item:nth-child(5) .logo-item{
    max-width: 170px;
    opacity: .5;
    display: inline-block;
}
.brand-sec .partners-slider .owl-item:nth-child(6) .logo-item{
    margin-top: 30px;
}
.brand-sec .partners-slider .owl-item:nth-child(7) .logo-item{
    margin-top: 50px;
}

.brand-sec .partners-slider .owl-item:nth-child(8) .logo-item{
    margin-top: 70px;
}
.brand-sec .partners-slider .owl-item:nth-child(9) .logo-item{
    max-width: 170px;
    opacity: .5;
    display: inline-block;
}
.brand-sec .partners-slider .owl-item:nth-child(10) .logo-item{
    margin-top: 30px;
}
.brand-sec .partners-slider .owl-item:nth-child(11) .logo-item{
    margin-top: 50px;
}

.brand-sec .partners-slider .owl-item:nth-child(12) .logo-item{
    margin-top: 70px;
} */

.tel-link{
  color: white;
}
.tel-link:hover{
  color:#e1e0e0;
}
.sticky-bar {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background: #fff;
}
@media (max-width: 767px){
  .main-header .header-bottom {
      padding: 18px 0;
  }
}
.contact-section .error {
  font-family: 'Sarabun', sans-serif;
  color: red;
  font-size: 16px;
}